<div class="sidebar">
  <b-nav vertical>
    <b-nav-item :active="isActive('dashboard')" v-on:click="navigate('dashboard')">
      <span class="img-wrapper text-center">
        <img src="~@/assets/images/full-size-dashboard-icon.png" alt="">
      </span>
      <span class="nav-text">
        Dashboard
      </span>
    </b-nav-item>
    <b-nav-item :active="isActive('userMgmt')" v-on:click="navigate('userMgmt')">
      <span class="img-wrapper text-center">
        <img src="~@/assets/images/full-size-user-mgmt-icon.png" alt="">
      </span>
      <span class="nav-text">
        User Management
      </span>
    </b-nav-item>
    <b-nav-item :active="isActive('user')" v-on:click="navigate('user')">
      <span class="img-wrapper text-center">
        <img src="~@/assets/images/full-size-user-mgmt-icon.png" alt="">
      </span>
      <span class="nav-text">
        User KYC Complience
      </span>
    </b-nav-item>
  </b-nav>
</div>
